body {
    background-color: black;
}

li {
    list-style: none;
}

.results-all{
    background: black;
    color: gainsboro;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result-header{
    height: 90px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    /* justify-content: space-between; */
    align-items: center;
}

.user-greeting{
    height: 78px;
    font-size: 25px;
}

.user-greeting i {
    margin: 0px 30px;
    cursor: pointer;
}

.borednomore-logo {
    /* position: absolute; */
    /* top: 5px; */
    /* right: 40px; */
    font-weight: normal;
    font-size: 40px;
    margin: 15px;

}

.result-body{
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.result-body ul {
    font-weight: bold;
    margin: 20px;
    padding: 0px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.results div {
    height: 270px;
    width: 400px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.result-img{
    height: 270px;
    width: 400px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}


.results-body-index li {
    width: 35%;
    border: 1px solid black;
    margin: 25px; 
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.40);   
}

.results-body-index div img {
    max-height: 250px;
    max-width: 400px;
    width: 90%;
    margin: 20px 10px 0px 10px;
    border-radius: px;
}

.results-body-index li:hover {
    border: 1px solid black;
    margin: 25px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.80);
}

