.whyUs-list {
    overflow: scroll;
    display: flex;
    /* position: relative; */
    flex-direction: column;
    /* height: 50%; */
    font-family: Lucida Grande;
    font-size:35px;
    overflow: scroll;
    margin: 0px;
    padding: 0px;
    /* margin-left: 0px; */
}

.whyUs-list {
    display: flex;
    color: black;
    display: block;
    margin: auto;
    width: 100%;
    /* top: 100%; */
}

.whyUs-content img{
    height: 100px;
}
.whyUs-list-text {
    display:flex;
    flex-direction: column;
}

.whyUs ul{
    margin: 0px;
    padding: 0px;
    color: black;
    line-spacing: 0px;
}

.whyUs li{
    height: 600px;
    width: 100%;
}

#whyUs-start{
    height: 100vh;
}

.whyUs-content{
    display: flex;
    height: 400px;
    align-items: center;
    align-text: center;
    justify-content: space-evenly;
}

.whyUs-list p {
    width: 500px;
    text-align: center;
}


.whyUs-idx-1 {
    background-color: blue;
    display: flex;
    /* min-height: 0px; */
        /* overflow: scroll; */
}

.whyUs-idx-2{
    background-color: papayawhip;
    /* height: 300px; */
}

.whyUs-idx-3 {
    background-color: grey;


}
.whyUs-idx-4 {
    background-color: white;

}
.whyUs-idx-5 {
    background-color: blue;

}