.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.splash-page{
  /* background-color:red; */
  background-image: url('https://stmed.net/sites/default/files/restaurant-wallpapers-28840-4336902.jpg');
  background-size: 100%;
  width: 100vw;
  height: 100vh;
}
.splash-top-nav {
  display: flex;
  color: papayawhip;
}
.splash-top-nav h3{
  margin: auto;
}
.splash-content {
  /* background-color: lightblue; */
  position: absolute;
  display: block;
  color: papayawhip;
  width: 400px;
  margin: auto;
  top: 40%;
  left: 35%;

}

