.form-page{
    position: absolute;
    text-align: center;
    color: #f5f2e7;
    margin-left: 20%;
    margin-right: 20%;
}

.form-page-wlist{
    position: absolute;
    text-align: center;
    color: #f5f2e7;
    margin-left: 10%;
    margin-right: 10%;
}

.form-content  {
    /* background-color: darkblue; */
    align-items: center;
    margin-top: 100px;
}
.form-content input{
    background: transparent;
    border: none;
    width: 300px;
    color: #f5f2e7;
    font-size: 25px;
    border-bottom: 2px solid papayawhip;
    outline: none;
}
.next-step{
    background: transparent;
    border: none;
    width: 100px;
    height: 25px;
    color: #f5f2e7;
    font-size: 25px
}

.form-list {
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin-top: 50px;
    margin-left: 0;
}

.form-list button{
    margin: 10px;
    padding: 0px;
    width:125px;
    height: 65px;
    background: transparent;
    border: none;
    font-size: 24px;
    font-weight: 500;
    color: #f5f2e7a3;
    /* outline: solid; */
}

.form-list button:hover {
    color: white;
}
.form-list img {
    width: 80px;
    height: 80px;
}